# Project exclude path(s)
/bin/
data/saves/logs/
data/saves/construction/
data/minimes/
data/saves/clans/
data/saves/characters/
data/saves/shops/
data/saves/groupironman
data/logs/referrals
data/saves/

